<!DOCTYPE html>
<html>
<head>
    <script src=""></script>
    <link href=""/>
</head>

<body>
    
    <h1>Products</h1>

    <% for(var i=0;i<products.length;i++) { %>

    <h4><%= products[i].name %></h4>
    <p>Price: <%= products[i].price %></p>
    <p>Volume: <%= products[i].volume %></p>

    <% } %>
    
</body>
    
</html>